.footer-container {
	display: flex;
	flex-direction: column;
	min-height: 62vh; /* Modifier la hauteur minimale en pourcentage */
}

.spacer {
	flex-grow: 1;
}

.footer {
	display: flex;
	align-items: center;
	background-color: #fefee2;
	color: #fff;
	padding: 7px;
}

.footer-content {
	display: flex;
	width: 100%;
	justify-content: center; /* Centrer le contenu horizontalement */
	align-items: center;
}

.footer-credits-text {
	font-size: 12px;
	color: #888;
	text-align: center; /* Centrer le texte */
}
