.homepage-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 130px;
}

.homepage-container {
	padding-top: 25px;
}

.homepage-first-area {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
	margin-top: 20px;
	text-align: center;
}

.title.homepage-title {
	font-size: 24px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	color: #f6a2ae;
}

.homepage-subtitle {
	width: 90% !important;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

.homepage-image-container {
	width: 250px;
	height: 250px;
	margin-top: 20px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 100%;
}

.homepage-image-wrapper img {
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 40px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}

@media (max-width: 1024px) {
	.homepage-first-area-left-side,
	.homepage-subtitle {
		width: 100% !important;
		margin-left: 0;
		margin-top: 10px;
	}

	.homepage-title {
		margin-left: 0;
	}

	.homepage-first-area-right-side,
	.homepage-image-container {
		margin-right: 0;
		margin-top: 10px;
	}

	.homepage-image-container {
		width: 250px;
		height: 250px;
	}

	.homepage-projects,
	.homepage-articles,
	.homepage-works {
		flex-basis: auto;
		padding-top: 20px;
		margin-left: 0;
		margin-right: 0;
	}

	.homepage-first-area {
		flex-direction: column;
		align-items: center;
	}

	.homepage-first-area-left-side {
		align-items: center;
		text-align: center;
	}

	.homepage-title {
		margin-top: 10px;
	}

	.homepage-first-area-right-side {
		margin-left: 0;
		margin-right: 0;
	}
}
